
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'camcontrol/style.css' %}" />

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>/photo/snapview/</h2>
<form action="/photo/snapview/" method="post" target="content">
<!--  {% csrf_token %} -->

<div class="container">
	<div class="row">
		<div class="col"><LABEL for="dimensions">Dimensions: </LABEL></div>
		<div class="col">
			<select name="dimensions" class="dropdown">
				<option value=""></option>
				<option value="2592x1944">2592x1944 *</option>
				<option value="640x480">640x480</option>
				<option value="800x600">800x600</option>
				<option value="1280x960">1280x960</option>
				<option value="1440x1080">1440x1080</option>
				<option value="1600x1200">1600x1200</option>
				<option value="2048x1536">2048x1536</option>
			</select>
		</div>
		<div class="col"><LABEL for="rotation">Rotation (degrees): </LABEL></div>
		<div class="col">
			<select name="rotation" class="dropdown">
				<option value=""></option>
				<option value="0">0 *</option>
				<option value="90">90 </option>
				<option value="180">180 </option>
				<option value="270">270 </option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col"><LABEL for="ISO">ISO: </LABEL></div>
		<div class="col">
			<select name="ISO" class="dropdown">
				<option value=""></option>
				<option value="0">100 *</option>
				<option value="1">200</option>
				<option value="2">400</option>
				<option value="3">800</option>
			</select>
		</div>
		<div class="col"><LABEL for="exposure">Exposure: </LABEL></div>
		<div class="col">
			<select name="exposure" class="dropdown">
				<option value=""></option>
				<option value="auto">auto *</option>
				<option value="night">night</option>
				<option value="nightpreview">nightpreview</option>
				<option value="backlight">backlight</option>
				<option value="spotlight">spotlight</option>
				<option value="sports">sports</option>
				<option value="snow">snow</option>
				<option value="beach">beach</option>
				<option value="verylong">verylong</option>
				<option value="fixedfps">fixedfps</option>
				<option value="antishake">antishake</option>
				<option value="fireworks">fireworks</option>
			</select>
		</div>

	<div class="row">
		<div class="col"><LABEL for="awb">AWB: </LABEL></div>
		<div class="col">
			<select name="awb" class="dropdown" >
				<option value=""></option>
				<option value="auto">auto *</option>
				<option value="sun">sun</option>
				<option value="cloud">cloud</option>
				<option value="shade">shade</option>
				<option value="tungsten">tungsten</option>
				<option value="fluorescent">fluorescent</option>
				<option value="incandescent">incandescent</option>
				<option value="flash">flash</option>
				<option value="horizon">horizon</option>
				<option value="night">night</option>
			</select>
		</div>
		<div class="col"><LABEL for="metering">Metering: </LABEL></div>
		<div class="col">
				<select name="metering" class="dropdown">
				<option value=""></option>
				<option value="average">average</option>
				<option value="spot">spot</option>
				<option value="backlit">backlit</option>
				<option value="matrix">matrix</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col"><LABEL for="brightness">Brightness [50]: (0,100)</LABEL></div>
		<div class="col"><INPUT type="text" class="text_4char" size="4" id="brightness" value="50"></div>
		<div class="col"><LABEL for="contrast">Contrast [50]: (0,100)</LABEL></div>
		<div class="col"><INPUT type="text" class="text_4char" size="4" id="contrast" value="50"></div>
	</div>
	
	<div class="row">
		<div class="col"><LABEL for="ev">EV [0]: (-10,10)</LABEL></div>
		<div class="col"><INPUT type="text" class="text_4char" size="4" id="ev" value="0"></div>
		<div class="col"><INPUT type="checkbox" name="vflip" value="true"> flip_vertical</div>
		<div class="col"><INPUT type="checkbox" name="hflip" value="true"> flip_horizontal</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col"><LABEL for="cam_options">Camera Options: </LABEL></div>
		<div ><INPUT class="col3span" type="text" id="cam_options"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col3span"><input type="submit" value="Submit"></div>
	</div>
</div>
</br>

</form>

<iframe id="content" name="content" width="800" height="600" ></iframe>
